/*****************************************************************************
 * eww.scss
 *
 *
 *****************************************************************************/

// Theme color
$c_bg: #22273b;
$c_fg: #e0e0e0;
$c_sep: #414f60;
$c_border: #33ccff;

// Status color
$c_ok: blue;
$c_ng: red;
$c_critical: #d91656;
$c_warn: #eff396;

// Colors
$c_gold: gold;



//-----------------------------------------------------------------------------
// General
//-----------------------------------------------------------------------------
* {
  all: unset;
  font-family: "Mitsu-inconsolata.otf"
}

tooltip {
  color: $c_fg;
  background-color: $c_bg;

  border: 1px solid;
  border-color: cyan;
  border-radius: 5px;
}



//-----------------------------------------------------------------------------
// Bar window
//-----------------------------------------------------------------------------
.bar {
  background-color: $c_bg;
  color: $c_fg;
  padding: 3px 10px;

  border-style: solid;
  border-radius: 8px;
  border-color: $c_border;
  border-width: 2px;

  .bar-box {
    background-color: red;
  }

  .workspaces {
    .active {
      color: lime;
    }
    .unused {
      color: gray;
    }
    button:hover {
      color: cyan;
    }
  }

  .sidestuff {
    .sep {
      color: $c_sep;
      font-weight: bold;
      font-size: 16px;
    }

    .metric {
      .label {
        font-weight: bold;
      }
      .value {
        padding-left: 3px;
        color: $c_fg;
      }
    }

    .volume {
      .icon.mute {
        color: $c_warn;
      }
      .icon {
      }
    }

    .battery {
      .icon.Charging {
        color: $c_gold;
      }
      .icon.Discharging.critical {
        color: $c_critical;
      }
      .icon.Discharging.warn {
        color: $c_warn;
      }
      .icon.Discharging {
        color: $c_fg;
      }
    }

    .netstate {
      .icon.none {
        color: $c_critical;
      }
      .icon.hoge {
        color: yellow;
      }
      .label.wireless {
        &.excellent { color: $c_fg;       }
        &.good      { color: $c_fg;       }
        &.normal    { color: $c_fg;       }
        &.weak      { color: $c_warn;     }
        &.bad       { color: $c_critical; }
      }
    }

  } // .sidestuff
} // .bar

